@model Foro_Militar.Models.DashboardHomeViewModel

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dashboard-wrapper">

    <!-- HERO DASHBOARD -->
    <section class="dashboard-hero reveal">
        <h1>Panel <span>Corvax</span></h1>
        <p>Actividad, comunidades y tendencias en tiempo real.</p>
    </section>

    <!-- GRID TABLERO -->
    <section class="dashboard-grid">

        <div class="board-item board-full reveal">
            @Html.Partial("_TopCommunitiesByCategory", Model)
        </div>

        <div class="board-item board-large reveal">
            @Html.Partial("_TrendingPost", Model)
        </div>

        <div class="board-item reveal">
            @Html.Partial("_BestOfWeek", Model)
        </div>

        <div class="board-item reveal">
            @Html.Partial("_MostFollowedCommunities", Model)
        </div>

        <div class="board-item reveal">
            @Html.Partial("_MostActiveCommunities", Model)
        </div>



    </section>

</div>